.react-card-front {
    position: relative !important;
}
.react-card-flip {
    margin: 5px;
}
.dropdown-menu {
    width: 100%;
}
.btnMax {
    width: 100%;
    max-width: 250px;
}

.selected {
    background-color: green !important;
}
.header {
    border-bottom: 2px solid #e6e6e6
}
.createForm {
    border: 2px solid #e6e6e6;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px #000
}
.formContainer {
    width: 95%;
    margin: 0 auto !important;
}
.sidebar {
    width: 200px;
    background-color: #ffffff
}
.sidebar h3{
    color: #ffffff
}
