.inventoryContainer {
    max-width: 780px;
}
.btnMax {
    width: 100%;
    max-width: 250px;
}
.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}
.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected {
    background-color: green !important;
}
.header {
    border-bottom: 2px solid #e6e6e6
}
.createForm {
    border: 2px solid #e6e6e6;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px #000
}
.formContainer {
    width: 95%;
    margin: 0 auto !important;
}
.tableContainer {
    box-shadow: 0px 1px 4px #000
}
.sidebar {
    width: 200px;
    background-color: #ffffff
}
.sidebar h3{
    color: #ffffff
}
